<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bienvenue</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header th:insert="fragment/header.html :: header"> </header>
	<div class="container">
		<h1 class="p-3 mb-2">Rejoignez-nous !</h1>
		<form class="form-signin" method="post" aria-describedby="help" action="signup">
			<small id="help" class="form-text text-muted">Nous ne partagerons jamais vos informations.</small>
			<div class="form-label-group">
				<label for="inputLastName">Nom</label> 
				<input type="text" class="form-control" id="inputLastName" name="lastName" required>
			</div>
			<div class="form-group">
				<label for="inputFirstName">Prénom</label> 
				<input type="text" class="form-control" id="inputFirstName" name="firstName" required>
			</div>
			<div class="form-group">
				<label for="inputTel">Téléphone</label> 
				<input type="tel" class="form-control" id="inputTel" name="tel" required>
			</div>
			<div class="form-group">
				<label for="inputEmail">Adresse email</label> 
				<input type="email" class="form-control" id="inputEmail" name="email" required>
			</div>
			<div>
				<div class="form-group">
					<label for="inputPassword">Mot de passe</label> 
					<input type="password" class="form-control" id="inputPassword" name="mdp" required>
				</div>
				<button type="submit" class="btn btn-primary">Valider</button>
			</div>
		</form>
	</div>
</body>
</html>