<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Commandes pour livreurs</title>
</head>

<body>
	<header>
		<h1>Livraisons à effectuer :</h1>
	</header>

	<table class="tab">
		<tbody>
			<tr>
				<td class="client">Données client :<br />
					<ul>
						<li>Nom</li>
						<li>Prénom</li>
						<li>Adresse</li>
						<li>Num commande</li>
					</ul>
				</td>
				<td class="duree">3:15</td>
				<td class="km">1,7 km</td>
				<td class="accepter">
					<form action="http://localhost:8080/Projet_Pizza/livraisons">
						<input type="checkbox">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>