<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javaInterface.js"></script>
</head>
<body>
	<header th:insert="fragment/header.html :: header"> </header>
	<h1>Livraisons à effectuer :</h1>
	<table class="tab">
		<tbody>
			<tr>
				<td class="client">Données client :<br />
					<ul>
						<li>Nom</li>
						<li>Prénom</li>
						<li>Adresse</li>
						<li>Num commande</li>
					</ul>
				</td>
				<td class="duree">3:15</td>
				<td class="km">1,7 km</td>
				<td class="accepter">
					<form action="http://localhost:8080/Projet_Pizza/livraisons">
						<input type="checkbox">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>