<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Test Thymeleaf</title>
</head>
<body>
	<h1>Test Thymeleaf</h1>
	<div>
		<table>
			<tr>
				<th>Nom</th>
				<th>Category</th>
			</tr>
			<tr th:each="a: ${articles}">
				<td th:utext="${a.nom}"></td>
				<td th:utext="${a.category}"></td>
			</tr>
		</table>
	</div>
</body>
</html>