<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Interface</title>
<script type="text/javascript" src="javaInterface.js"></script>
</head>
<body>
	<header th:insert="fragment/header.html :: header"> </header>
	<h1>Livraisons à effectuer :</h1>

	<table class="tab">
		<tbody>
			<tr th:each="client : ${custommer}"  th:if="${client.commandes.isEmpty()==false}">
				<td class="client">Données client :<br />
					<ul >
						<li th:text="${client.nom}"></li>
						<li th:text="${client.prenom}"></li>
						<li th:text="${client.adresse}"></li>
						<li th:text="${client.numTel}"></li>
						
						<li th:each="commande : ${client.commandes}">
						<span th:text="${commande.idCommande}"></span>
						</li>
						<li th:each="commande : ${client.commandes}">
						<script>
						
						 document.write('${commande.idCommande}'');</script>
						 </li>
					</ul>
				</td>
				<td class="duree">3:15</td>
				<td class="km">1,7 km</td>
				<td class="accepter">
					<form action="http://localhost:8080/Projet_Pizza/livraisons">
						<input type="checkbox"/>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>